[submodule "public"]
	path = public
	url = git@github.com:lambdahro/lambdahro.github.io.git
	branch = master
[submodule "themes/massively"]
	path = themes/massively
	url = https://github.com/curttimson/hugo-theme-massively.git
